<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>YOUR_PROJECT_NAME</string>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>LANGUAGES</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>kEnglishEnabled</string>
			<key>DefaultValue</key>
			<false/>
			<key>Title</key>
			<string>English</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>kSpanishEnabled</string>
			<key>DefaultValue</key>
			<false/>
			<key>Title</key>
			<string>Español</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>kFrenchEnabled</string>
			<key>DefaultValue</key>
			<false/>
			<key>Title</key>
			<string>Français</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
